.course-header {
  img {
    width: 100%;
  }
}

.course-card {
  margin-left: 24px;
  margin-top: 24px;
  img {
    width: 100%;
  }
}

.grid-course-container {
  transition: ease 0.3s;
  :hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}